[bumpversion]
current_version = 0.1.1
commit = True
tag = False
parse = ^
	(?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
	((?P<pre>a|b|rc)
	)?
serialize = 
	{major}.{minor}.{patch}{pre}
	{major}.{minor}.{patch}

[bumpversion:part:pre]
optional_value = _
values = 
	_
	a
	b
	rc

[bumpversion:file:setup.py]

[bumpversion:file:fichub_cli_metadata/cli.py]
search = typer.echo("fichub-cli-metadata: v{current_version}")
replace = typer.echo("fichub-cli-metadata: v{new_version}")

[bumpversion:file:fichub_cli_metadata/utils/fichub.py]
search = 'User-Agent': 'fichub_cli_metadata/{current_version}'
replace = 'User-Agent': 'fichub_cli_metadata/{new_version}'
